@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 46px 150px 0px 150px;
    background: #1E1E1E;
    color: #E4E5EA;
}

a {
    text-decoration: none;
    color: white;
    font-family: Inter;
}

/* ДЕКОРАЦИИ НА ФОНЕ */

.purple-light {
    position: absolute;
    width: 259px;
    height: 259px;
    left: 602px;
    top: -154px;
    background: #833ab4;
    opacity: 0.5;
    filter: blur(196px);
    z-index: -2;
}

.purple-ball {
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 868px;
    top: -2px;
    background: radial-gradient(64% 64% at 27.25% 26.5%,
            rgba(236, 208, 255, 0.64) 0%,
            rgba(161, 93, 207, 0.24) 59.67%,
            rgba(118, 49, 164, 0.208) 78.59%,
            rgba(86, 24, 128, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
    z-index: -1;
}

.red-ball-1 {
    border-radius: 50%;
    position: absolute;
    width: 83px;
    height: 83px;
    left: 519px;
    top: 74px;
    background: radial-gradient(64% 64% at 27.25% 26.5%,
            rgba(255, 208, 208, 0.536) 0%,
            rgba(212, 93, 93, 0.264) 59.67%,
            rgba(167, 49, 49, 0.248) 78.59%,
            rgba(130, 25, 25, 0.248) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
    z-index: -1;
}

.red-ball-2 {
    border-radius: 50%;
    position: absolute;
    width: 28px;
    height: 28px;
    left: 851px;
    top: 535px;

    background: radial-gradient(64% 64% at 27.25% 26.5%,
            rgba(255, 208, 208, 0.48) 0%,
            rgba(212, 93, 93, 0.248) 59.67%,
            rgba(167, 49, 49, 0.264) 78.59%,
            rgba(130, 25, 25, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
    backdrop-filter: blur(2px);
    z-index: -1;
}

.red-light {
    position: absolute;
    width: 311px;
    height: 311px;
    left: -102px;
    top: 251px;
    background: #961a1a;
    opacity: 0.5;
    filter: blur(196px);
    z-index: -2;
}

/* HEADER  */

.navigation {
    display: flex;
    align-items: flex-start;
}

.logo-welbex {
    max-width: 150px;
}

.logo-text {
    font-family: Montserrat;
    font-size: 10px;
    margin: 6px 0 0 0;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style-type: none;
    margin: 4px;
    margin-right: 138px;
    font-family: Inter;
}

.nav-contacts {
    display: flex;
    gap: 50px;
}

.nav-tel {
    margin-top: 4px;
    min-width: fit-content;
}

.nav-social {
    display: flex;
    gap: 30px;
    margin-top: 3px;
}

/* MAIN  */

.main {
    display: flex;
    justify-content: space-between;
}

.main-text {
    max-width: 370px;
}

.title {
    font-family: Inter;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    margin: 93px 0 30px 0;
}

.emphasis {
    font-weight: 900;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.aside .emphasis {
    font-weight: 700;
}

.sub-title {
    font-family: Montserrat;
    max-width: 275px;
    font-size: 18px;
}

/* ASIDE  */

.aside {
    max-width: 310px;
    margin-top: 105px;
    display: flex;
    flex-direction: column;
}

.aside p {
    font-family: Montserrat;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.aside>p {
    margin-bottom: 41px;
    margin-top: 3px;
    text-align: end;
    font-size: 18px;
}

.aside h6 {
    font-family: Inter;
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: 500;
}

.description {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin-bottom: 60px;
}

.description-items {
    display: none;
}

.description-item {
    max-width: 135px;
    display: flex;
    flex-direction: column;
    text-align: end;
}

.consultation-button {
    width: 262px;
    height: 61px;
    background: #4077F3;
    color: #E4E5EA;
    font-family: 'Inter';
    font-size: 16px;
    border: none;
    align-self: flex-end;
    margin-bottom: 125px;
    cursor: pointer;
}

/* FOOTER  */

.footer-box {
    display: flex;
    justify-content: space-between;
}

.footer-box a {
    font-weight: 200;
}

.footer-nav {
    display: flex;
    gap: 103px;
}

.footer-nav>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-company>p,
.menu>p,
.footer-contacts>p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    color: #656566;
    margin: 0 0 10px 0;
}

.footer-contacts {
    font-family: Inter;
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-contacts .nav-social {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.footer-contacts .nav-tel {
    margin-top: -10px;
}

.address {
    font-style: normal;
}

.other {
    align-self: end;
    margin-left: -48px;
}

.privacy-policy {
    text-align: right;
    font-size: 12px;
    font-family: Montserrat;
}

.privacy-policy p {
    margin: 32px 0 5px 0;
}

.privacy-policy a {
    font-weight: 200;
    text-decoration: underline;
    line-height: 15px;
    font-family: Montserrat;
}

/* АДАПТИВ ДЛЯ МОБИЛЬНЫХ УСТРОЙСТВ */

@media(max-width: 320px) {
    body {
        padding: 0;
    }

    .purple-light,
    .purple-ball,
    .red-ball-1,
    .red-ball-2,
    .red-light {
        display: none;
    }

    /* HEADER  */

    .logo-welbex {
        display: none;
    }

    .logo-text {
        font-family: Montserrat;
        font-size: 10px;
        margin: 0;
    }

    ul li:last-child {
        display: none;
    }

    .nav-list {
        gap: 18px;
        font-size: 12px;
        margin: 0;
        padding: 20px 15px;
        text-transform: uppercase;
        background-color: #0E1014;
        height: 55px;
        box-sizing: border-box;
    }

    .nav-contacts {
        display: none;
    }

    /* MAIN  */

    .main {
        flex-direction: column;
        padding: 0 15px 34px;
        background-image: url(./images/mob-background.svg);
        background-size: auto;
    }

    .main-text {
        max-width: 275px;
    }

    .title {
        font-size: 36px;
        margin: 45px 0 15px 0;
        line-height: 43.57px;
    }

    .sub-title {
        margin: 0;
    }

    /* ASIDE  */

    .aside {
        max-width: 275px;
        margin-top: 45px;
    }

    .aside>p {
        display: block;
        margin-bottom: 20px;
        margin-top: 3px;
        text-align: start;
        font-size: 18px;
    }

    .aside .emphasis {
        text-transform: lowercase;
    }

    .description {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        margin-bottom: 0px;
    }

    .description-item {
        display: none;
    }

    .description-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .description-items h6 {
        display: inline;
        text-transform: uppercase;
        font-weight: 400;
        font-family: Montserrat;
        font-size: 13px;
        margin-bottom: 14px;
    }

    .description-items h6::before {
        content: url(images/line.svg);
        position: relative;
        top: 4px;
    }

    .consultation-button {
        display: none;
    }

    /* FOOTER  */

    .about-company>p,
    .menu>p,
    .footer-contacts>p {
        font-size: 12px;
    }

    .footer-box {
        padding: 45px 45px 0 16px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-box a {
        font-size: 14px;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-nav>div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .menu {
        width: 120px;
    }

    .other {
        position: relative;
        left: 35px;
        top: -171px;
        width: min-content;
    }

    .footer-contacts {
        text-align: start;
        gap: 8px;
        margin-top: -172px;
    }

    .footer-contacts .nav-social {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
    }

    .nav-social img {
        width: 24px;
    }

    .footer-contacts .nav-tel {
        margin-top: -10px;
        font-size: 16px;
    }

    .address {
        font-style: normal;
        font-size: 14px;
    }

    .privacy-policy {
        text-align: left;
        font-size: 12px;
        font-family: Montserrat;
        margin: 50px 0px 80px 15px;
    }

    .privacy-policy p {
        margin: 0;
    }

    .privacy-policy a {
        font-weight: 200;
        text-decoration: underline;
        line-height: 15px;
        font-family: Montserrat;
    }
}